configuration { show-icons: true; font: "JetBrainsMono Nerd Font 12"; location: 0; }
window { transparency: "real"; background-color: #000000cc; border-radius: 12px; width: 24%; location: 0; }
textbox-prompt-colon { str: "󰐥 Power:"; text-color: #00d4ff; }
element selected { background-color: #00d4ff; text-color: #000000; }
element { padding: 12px; border-radius: 8px; }
entry { text-color: #ffffff; }
element-icon { size: 1.6em; }
